#principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
  min-height: 100dvh;
}

#formPesquisar {
  display: flex;
  gap: 5px;
  width: 100%;
}
#inputPesquisar {
  height: 100%;
  width: 100%;

  padding: 5px 10px;
  border: solid 1px rgb(172, 172, 172);
  outline: none;
  border-radius: 15px;

  background-color: rgb(250, 250, 250);
}

main {
  height: 100%;
  width: 90%;
  background-color: rgb(255, 255, 255);

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 10px;
  gap: 10px;

  border-radius: 25px;

  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.256);
}

#containerNoticias {
  width: 100%;
  min-height: 150px;
  flex-direction: column;
  gap: 10px;
  display: none;
}
#containerErro {
  width: 100%;
  height: 100%;
  padding: 10% 7%;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

#containerErro img{
  width: 150px;
}

#divNoticia {
  background-color: rgb(250, 250, 250);
  border: solid 1px rgb(172, 172, 172);
  height: 150px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 15px;
  overflow: hidden;
  transition: ease 0.5s;
  cursor: pointer;
  text-overflow: ellipsis;
}

#divNoticia > #imgNoticia {
  background-image: url(../images/imgteste.avif);
  background-position: center center;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

#divNoticia > #textNoticia {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#divNoticia p {
  transition: ease 0.5s;
  visibility: visible;
  opacity: 1;
  color: rgb(50, 50, 50);
}

#divNoticia button {
  transition: ease 0.5s;
  visibility: visible;
  opacity: 1;
  margin-top: 15px;
}
